@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.header {
  display: flex;
  width: 375px;
  height: 60px;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 50px 36px 15px 24px;
  box-sizing: border-box;
  background-color: #fff;
  margin: 0 auto;
  z-index: 1;
}

#logo {
  font-family: "Poppins", sans-serif;
  width: 76px;
  height: 20px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  transition: transform 0.4s ease-in-out;
}

#logo:hover {
  transform: scale(1.1);
}

#menu-nav-mobile {
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

#menu-nav-mobile.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(96, 112, 255, 0.9);
}

#menu {
  display: block;
  cursor: pointer;
}

#menu.active {
  float: right;
  margin-top: 20px;
  margin-right: 35px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#nav {
  display: none;
}

#link {
  display: none;
}

.menu-nav-mobile.active #link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin-top: 80px;
  list-style-type: none;
}

.mobile-link a {
  text-decoration: none;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

/* --------Headline---------- */

.headline-section {
  width: 375px;
  height: 700px;
  margin: 0 auto;
  background: #fff url(./images/header-shapes-mobile.svg) 0 45px no-repeat;
  border-bottom-left-radius: 80px;
  position: relative;
}

#headline-section.active {
  filter: blur(4px);
}

body.active {
  overflow-y: hidden;
}

.headline {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  padding: 128px 24px 0;
}

.description {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 24px;
}

.connect {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-left: 24px;
  margin-bottom: 12px;
  color: #7f8cff;
}

.social-media-links {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin-left: 24px;
  padding-left: 0;
  list-style-type: none;
  animation: width-change 1s ease-in-out 0.5s 1;
}

@keyframes width-change {
  from {
    width: 280px;
  }

  to {
    width: 160px;
  }
}

.media-link {
  color: #505f79;
  text-decoration: none;
}

.media-link i:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

/* portfolio works */

.works-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 596px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 0 auto;
}

/* TONIC */

.works-card-tonic {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 0 auto;
}

.snapshort {
  width: 295px;
  height: 220px;
  background: url(blog_drbl_4x.png);
  border-radius: 8px;
  top: 16px;
  left: 16px;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.02px;
  gap: 20px;
  width: 295px;
  height: 332px;
  left: 16px;
}

.left-block-tonic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.02px;
  gap: 20px;
  width: 295px;
  height: 288px;
  left: 16px;
}

.primary-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.01px;
  gap: 12px;
  width: 295px;
  height: 80px;
}

.primary-container-tonic {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.01px;
  gap: 12px;
  width: 295px;
  height: 80px;
}

.project-title {
  width: 290px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 0.01px;
  margin-block-end: 0.01px;
}

.project-title-tonic {
  width: 295px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin-top: 0.01px;
  margin-block-end: 0.01px;
}

.frame2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;
  margin-block-end: 0;
  margin-top: 40px;
}

.frame2-tonic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;
  margin-block-end: 0;
  margin-top: 5px;
}

.client {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 55px;
  height: 32px;
}

.client h3 {
  width: 55px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.frame2 img {
  width: 8px;
  height: 8px;
}

.role {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 100px;
  height: 32px;
  left: 67px;
}

.role h3 {
  width: 89px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  top: 8px;
}

.dot {
  width: 8px;
  height: 8px;
}

.year {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
  width: 29px;
  height: 32px;
  left: 207px;
}

.year h3 {
  width: 29px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  top: 8px;
}

.project-description {
  width: 295px;
  height: 76px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: 30px;
}

.project-description-tonic {
  width: 295px;
  height: 76px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin-top: -10px;
}

.dev-tools {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  top: 180px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.dev-tools-tonic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 203px;
  height: 24px;
  top: 180px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.dev-tool1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 12px;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  margin: 0 5px;
  border: 0;
}

.dev-tool1 p {
  width: 29px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  background: #ebebff;
  border-radius: 8px;
  top: 4px;
  left: 12px;
}

.dev-tool2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  border: 0;
  left: 61px;
}

.dev-tool2 p {
  width: 21px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  top: 4px;
  left: 12px;
}

.dev-tool3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  border: 0;
  left: 114px;
}

.dev-tool3 p {
  width: 65px;
  height: 16px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  top: 4px;
  left: 12px;
}

.projects {
  width: 295px;
  height: 72px;
}

.projects-tonic {
  width: 295px;
  height: 72px;
  margin-top: -5px;
}

.go-projects {
  box-sizing: border-box;
  align-items: center;
  padding: 12px;
  width: 140px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  color: #396df2;
  transition: transform 0.4s ease-in-out;
}

.go-projects:hover {
  transform: scale(1.1);
}

/* .project p {
  width: 100px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
} */

/* contacts */

.contact-me {
  width: 375px;
  background-color: #fff;
  margin: 0 auto;
  border-top-right-radius: 80px;
  margin-top: 430px;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 2500px;
  margin: 0 auto;
  background-color: #f8f9fa;
  gap: 2px;
  margin-top: -80px;
  margin-bottom: -500px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.headline-section-co {
  width: 326px;
  height: 1100px;
  margin: 0 auto;
  background: #fff url(./images/about-myself.png) 0 45px no-repeat;
  border-top-right-radius: 80px;
  margin-top: 80px;
}

#headline-section-co.active {
  filter: blur(4px);
}

.headline-co {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  color: #172b4d;
  padding: 50px 0 0;
  margin-top: -35px;
  margin-bottom: 18px;
}

.description-co {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

.connect-co {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #7f8cff;
}

.social-media-links-co {
  display: flex;
  justify-content: space-between;
  width: 160px;
  padding-left: 0;
  list-style-type: none;
  animation: width-change 1s ease-in-out 0.5s 1;
}

@keyframes width-change {
  from {
    width: 280px;
  }

  to {
    width: 160px;
  }
}

.media-link-co {
  color: #505f79;
  text-decoration: none;
}

.media-link-co i:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.projects-co {
  width: 295px;
  height: 72px;
  top: 216px;
}

.go-projects-co {
  box-sizing: border-box;
  align-items: center;
  padding: 12px;
  width: 140px;
  height: 48px;
  top: calc(50% - 48px / 2);
  border: 1px solid #6070ff;
  border-radius: 8px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  color: #396df2;
}

/* .project-co p {
  width: 100px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
} */

/* skills */

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 326px;
  height: 464.15px;
  box-sizing: border-box;
}

.frame12 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
  width: 327px;
  height: 320.15px;
  box-sizing: border-box;
}

.frame7 {
  box-sizing: border-box;
  width: 327px;
  height: 72px;
  padding: 0 24px;
  margin-left: -25px;
  display: flex;
  align-items: center;
  gap: 80px;
  list-style-type: none;
}

.frame7 h3 {
  height: 24px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
  left: 12px;
}

.frame7 img {
  width: 24px;
  height: 24px;
  top: 8px;
  left: 8px;
}

.languages {
  box-sizing: border-box;
  width: 112.11px;
  height: 63.99px;
  margin-left: 12px;
}

.dropbtn {
  border: none;
  outline: none;
  color: white;
  background-color: #fff;
  cursor: pointer;
}

.dropbtn:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.language-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  gap: 12px;
  width: 327px;
  height: 248.15px;
  top: 72px;
  margin-top: -40px;
  margin-left: -24px;
  box-sizing: border-box;
}

.frame9 {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 255px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 0 36px;
  box-sizing: border-box;
  margin-top: 50px;
}

.frame9 img {
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2 - 0.36px);
}

.frame9 p,
.frame10 li,
.frame11 li {
  height: 24px;
  left: 76px;
  right: 12px;
  top: calc(50% - 24px / 2 - 0.36px);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #253858;
  list-style-type: none;
}

.frame10 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 255px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 0 36px;
  top: 90.72px;
  left: 12px;
}

.frame10 img {
  width: 48px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2 - 0.36px);
  background: url(html5-512.png);
}

.frame11 {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 255px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  padding: 0 36px;
  top: 169.43px;
  left: 12px;
}

.frame11 img {
  width: 48px;
  height: 48px;
  top: calc(50% - 48px / 2 - 0.36px);
  background: url(images.jpg);
  left: 12px;
}

.lang {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -20px;
  gap: 12px;
  padding: 0;
}

.lang li {
  list-style-type: none;
}

.frame17 {
  box-sizing: border-box;
  width: 327px;
  height: 72px;
  padding: 0 24px;
  margin-left: -16px;
  display: flex;
  align-items: center;
  gap: 80px;
}

.frame18 {
  box-sizing: border-box;
  width: 327px;
  height: 72px;
  padding: 0 24px;
  margin-left: -16px;
  display: flex;
  align-items: center;
  gap: 80px;
  margin-top: -10px;
}

.frame18 h3,
.frame17 h3 {
  height: 63.99px;
  width: 112.11px;
  margin-left: 18px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  display: flex;
  align-items: center;
}

.frame17 a h3,
.frame18 a h3 {
  top: calc(50% - 24px / 2);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.separator {
  width: 279px;
  padding: 0 24px;
  margin-left: 0;
  margin-top: -10px;
}

.frame-skill {
  width: 295px;
  height: 144px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin: 0;
}

/* contact-section */

.contact-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 779px;
  background: #6070ff url(./images/contact-form-shapes-mobile.png) 153px 21px no-repeat;
  margin: 0 auto;
  border-top-left-radius: 80px;
  position: relative;
  box-sizing: border-box;
  margin-top: -85px;
}

.contact-header {
  width: 375px;
  height: 56px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  margin-top: 88px;
  margin-bottom: 0;
}

textarea {
  margin-bottom: 35px;
  resize: none;
  border: 0;
}

.contact-description {
  width: 327px;
  height: 122px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-top: 0;
  margin-bottom: 65px;
}

#contact-form {
  width: 375px;
  flex-direction: column;
  align-items: center;
  padding-left: 48px;
}

#name {
  width: 327px;
  height: 48px;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  color: #172b4d;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 0 16px;
}

#email {
  width: 327px;
  height: 48px;
  outline: none;
  font-size: 17px;
  font-weight: 400;
  color: #172b4d;
  background-color: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 0 16px;
}

#message {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  line-height: 24px;
  height: 170px;
  padding: 15px 16px;
  border-radius: 8px;
  width: 327px;
  box-sizing: border-box;
}

.enabled {
  width: 140px;
  height: 48px;
  cursor: pointer;
  border: none;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 24px;
  color: #6070ff;
  background: #fff;
  border-radius: 8px;
  padding: 12px 16px 12px 16px;
  transition: all 0.5s ease-in-out;
}

.enabled:hover {
  background-color: #0c63e7;
  color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.bottom-line {
  width: 134px;
  height: 5px;
  position: relative;
  top: 20px;
}

@media (min-width: 768px) {
  .header {
    width: 100vw;
    position: fixed;
  }

  .menu-nav-mobile {
    display: none;
  }

  #nav {
    display: flex;
    width: 259px;
    list-style-type: none;
    align-items: center;
    padding: 0;
    gap: 8px;
    justify-content: space-around;
    text-decoration: none;
  }

  #nav li a {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    font-weight: 700;
    color: #344563;
  }

  #nav li a:hover {
    text-decoration: underline;
    text-decoration-color: #6070ff;
    text-decoration-thickness: 3px;
  }

  /* headline section */

  .headline-section {
    width: 100%;
    height: 846px;
    background: #fff url(./images/Header-desktop-bg.png) 100% 73px no-repeat;
    background-size: contain;
    border-bottom-left-radius: 150px;
  }

  #headline-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;
    box-sizing: border-box;
    width: 920px;
    height: 268px;
    padding: 0;
    margin-left: 200px;
    margin-top: 270px;
  }

  .headline {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    color: #091e42;
    padding-top: 128px;
    padding-left: 0;
    letter-spacing: 0.37px;
    height: 122px;
    width: 920px;
    margin: 0;
  }

  .description {
    width: 920px;
    height: 98px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #344563;
    padding: 0;
    margin: 0;
  }

  .connect {
    width: auto;
    height: 24px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    color: #7f8cff;
  }

  .social-media-links {
    width: 170.17px;
    height: 30px;
    margin: 0;
    padding: 0;
  }

  /* works cards */

  .grid-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    padding-top: 200px;
    margin-top: -135px;
    margin-bottom: -500px;
  }

  .works-card-tonic {
    flex-direction: row;
    padding: 24px;
    width: 1154px;
    height: 496px;
    border-radius: 24px;
    margin-left: 142px;
    margin-right: 142px;
  }

  .tonic-img {
    width: 100%;
    height: 396px;
    object-fit: contain;
  }

  .left-block-tonic {
    gap: 24px;
    align-items: flex-start;
    padding: 24px 12px;
    width: 544px;
    height: 445px;
  }

  .primary-container-tonic {
    padding: 0;
    width: 496px;
    height: 98px;
    margin-top: 48px;
  }

  .project-description-tonic {
    width: 496px;
    height: 50px;
    font-size: 16px;
  }

  .projects-tonic {
    margin-top: 100px;
  }

  .go-projects {
    margin-top: -100px;
  }

  .works-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 1153px;
    height: 496px;
    border-radius: 24px;
    margin: 0 142px;
    padding: 24px 36px 24px 24px;
  }

  .works-card img {
    width: 100%;
    height: 396px;
    object-fit: contain;
    float: right;
  }

  .left-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px 12px 24px 24px;
    width: 544px;
    height: 445px;
  }

  .primary-container {
    padding: 0;
    width: 496px;
    height: 98px;
    margin-top: 48px;
  }

  .project-description {
    width: 496px;
    height: 53px;
    font-size: 16px;
    margin-top: -10px;
    margin-bottom: 16px;
  }

  .projects {
    margin-top: 100px;
  }

  .frame2 img {
    width: 8px;
    height: 8px;
  }

  .project-title-tonic {
    width: 496px;
    height: 46px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .project-title {
    width: 496px;
    height: 46px;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  /* .project-description {
    width: 496px;
    height: 70px;
    font-size: 16px;
  } */

  .frame2 {
    margin: 5px;
  }

  .contact-me {
    width: 100%;
    height: 924px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headline-section-co {
    box-sizing: border-box;
    background-image: none;
    width: 1090px;
    height: 496px;
    display: flex;
    flex-direction: row;
    margin-top: -250px;
  }

  #headline-container-co {
    width: 447px;
    height: 392px;
    display: flex;
    flex-direction: column;
  }

  .headline-co {
    width: 447px;
    height: 114px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .description-co {
    width: 447px;
    height: 102px;
    font-style: normal;
    font-weight: 400;
  }

  .skill-list {
    width: 684px;
    height: 360px;
    margin-left: 0;
    gap: 12px;
  }

  .frame12 {
    width: 684px;
    height: 216px;
    margin: 20px;
  }

  .frame7 {
    width: 582px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    margin-left: -20px;
  }

  .language-list {
    width: 414px;
    height: 144px;
    display: flex;
    flex-direction: row;
    margin-left: -15px;
    margin-top: 20px;
  }

  .frame9,
  .frame10,
  .frame11 {
    width: 122px;
    height: 120px;
    margin-top: 50px;
  }

  .lang {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  .lang img {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
  }

  .lang p {
    margin: 0;
    padding: 0;
  }

  .frame-skill {
    width: 684px;
    height: 72px;
    margin-top: 15px;
  }

  .frame17,
  .frame18 {
    width: 582px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    margin-left: -100px;
  }

  .separator {
    width: 640px;
    padding: 0 24px;
    margin-left: -40px;
  }

  /* contacts */

  .contact-flex {
    width: 100%;
    height: 846px;
    margin-top: -256px;
    background: #6070ff url(./images/contact-form-background-shapes.svg) 100% 79px no-repeat;
    align-items: center;
  }

  .contact-header {
    width: 801px;
    height: 56px;
  }

  .contact-description {
    width: 569px;
    height: 102px;
  }

  #contact-form {
    width: 447px;
    height: 395px;
    padding: 0;
  }

  #name,
  #email {
    width: 447px;
    height: 48px;
  }

  #message {
    width: 447px;
    height: 170px;
  }

  .enabled {
    margin: 0 154px;
  }

  .bottom-line {
    display: none;
  }
}
